@function rem($target, $context: 64) {
  @if $target==0 {
    @return 0
  }
  @return $target / $context + 0rem;
}

.layer-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.layer-content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: rem(-280);
  margin-top: rem(-180);
  padding: rem(30);
  width: rem(500);
  height: rem(300);
  border-radius: rem(5);
  background: #fff;
  h3 {
    font-size: rem(35);
  }
  .layer-input {
    font-size: rem(30);
    width: rem(500);
    height: rem(50);
    border: 0;
    border-bottom: 1px solid #ccc;
  }
  .button-wrap {
    position: absolute;
    right: rem(20);
    bottom: rem(20);
    width: rem(200);
    height: rem(80);
    button {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: rem(100);
      height: rem(80);
      font-size: rem(25);
      color: #14c48e;
      border: 0;
      background: #fff;
    }
    .commit {
      float: right;
    }
    .cancel {
      float: right;
    }
  }
}
