@function rem($target, $context: 64) {
  @if $target==0 {
    @return 0
  }
  @return $target / $context + 0rem;
}

.create {
  position: fixed;
  bottom: rem(27);
  right: rem(27);
  width: rem(100);
  height: rem(100);
  box-shadow: rem(10) rem(10) rem(5) #ccc;
  border-radius: 50%;
  background: url('../../assets/img/create-btn.png');
  background-size: 100% 100%;
}
